.math {
  width: 250px;
  height: 41.66667px;
  line-height: 41.66667px;
  text-align: center;
  font-size: 20.83333px;
  background-color: rgba(98, 253, 202, 0.5);
  color: magenta;
  border-radius: 8.33333px; }
